*.class
*.iml

# Folders
.idea/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# application environment independent files

application-production.yml

oauth-server/src/main/resources/production/openid.properties
oauth-server/src/main/resources/production/ehcache.xml