<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping class="tw.edu.ncu.cc.oauth.db.data.AccessToken"/>
        <mapping class="tw.edu.ncu.cc.oauth.db.data.AuthCode"/>
        <mapping class="tw.edu.ncu.cc.oauth.db.data.Client"/>
        <mapping class="tw.edu.ncu.cc.oauth.db.data.Permission"/>
        <mapping class="tw.edu.ncu.cc.oauth.db.data.TokenConsumer"/>
        <mapping class="tw.edu.ncu.cc.oauth.db.data.User"/>

    </session-factory>
</hibernate-configuration>