<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping class="tw.edu.ncu.cc.oauth.server.db.data.AccessTokenEntity"/>
        <mapping class="tw.edu.ncu.cc.oauth.server.db.data.AuthCodeEntity"/>
        <mapping class="tw.edu.ncu.cc.oauth.server.db.data.ClientEntity"/>
        <mapping class="tw.edu.ncu.cc.oauth.server.db.data.UserEntity"/>

    </session-factory>
</hibernate-configuration>