<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.UserConverter"/>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.AccessTokenConverter"/>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.AppAccessTokenConverter"/>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.ApplicationConverter"/>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.IdApplicationConverter"/>
                <bean class="tw.edu.ncu.cc.oauth.server.converter.SecretIdApplicationConverter"/>
            </set>
        </property>
    </bean>

</beans>